[Unit]
Description=prometheus postgres_exporter

[Service]
Type=simple
Environment="DATA_SOURCE_NAME=postgresql://postgres:zLFbp8UZTQ@127.0.0.1:5432/postgres?sslmode=disable"
User=postgres
ExecStart=/usr/local/pgsql/bin/postgres_exporter

[Install]
WantedBy=multi-user.target
